<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/" id="<%= (page=='home') ? 'selected' : '' %>">Home</a></li>
        <li> <a href="/view" id="<%= (page=='view') ? 'selected' : '' %>">View Notes</a></li>
        <li> <a href="/add" id="<%= (page=='add') ? 'selected' : '' %>">Add A Note</a></li>       
      </ul>
    </nav>